@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-['Space_Grotesk'] bg-gradient-to-b from-background to-white bg-no-repeat min-h-[100vh] relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-primary;
}

.swiper-wrapper {
  @apply mb-14;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply text-secondary !text-3xl;
}

.swiper-pagination-bullet {
  @apply !bg-secondary;
}

.project {
  display: grid;
  margin-bottom: 4rem;
}

.project-img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 19rem;
}

@media screen and (min-width: 576px) {
  .project-img {
    height: 19rem;
  }
}
@media screen and (min-width: 768px) {
  .project-img {
    height: 22rem;
  }
}

@media screen and (min-width: 992px) {
  .project {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  .project-img,
  .project-info {
    grid-row: 1/1;
  }
  .project-img {
    grid-column: 1 / span 8;
    height: 30rem;
  }
  .project-info {
    z-index: 10;
    grid-column: 5/12;
  }
}
